.profile {
  margin-top: 47px;
  display: flex;
  gap: 116px;
}
.profile__sidebar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.profile__user-avatar {
}
.profile__user-name {
  display: flex;
  align-items: flex-start;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 10px 0 0;
  height: 25px;
  min-width: 90px;
}

.profile__clothes-section {
  margin-top: 10px;
  width: 80%;
}
.profile__clothes-header {
  max-width: calc(4 * 250px + 3 * 20px);
  margin: 0 auto;
  margin-bottom: 16px;
  gap: 20px;
  display: flex;
}
.profile__clothes_text {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}
.profile__clothes_btn {
  cursor: pointer;
  color: #00000099;
  background-color: #00000000;
  border: 0;
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}
.profile__clothes_container {
  max-width: calc(4 * 250px + 3 * 20px);
  margin: 0 auto;
}
.profile__clothes_list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 323px);
  gap: 20px;
  justify-content: start;
}
