.header {
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__logo {
  width: 89px;
  height: 40px;
}
.header__dateLocation {
  margin: 11px 0 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__addClothesBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 8px 8px 0 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: 0;
  padding: 0;
  background-color: #00000000;
  height: 24px;
}
.header__userName {
  display: flex;
  align-items: center;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  margin: 8px 0 0;
  height: 25px;
}
